{{#if messageerror}}
<div class="alert alert-danger">
    <strong>{{messageerror}}</strong>
</div>
{{/if}}
{{#if messagesuccess}}
<div class="alert alert-success">
    <strong>{{messagesuccess}}</strong>
</div>
{{/if}}

<div class="row" ng-controller="payment">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Transaction id</th>
                        <th>Mode </th>
                        <th>Bank Name</th>
                        <th>Branch</th>
                        <th>Date</th>
                        <th>Amount paid</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id='tbody'>
                    <tr ng-repeat="x in paymentData">
                    <td> [[ x.transactionId ]] </td>
                    <td> [[ x.mode ]] </td>
                    <td> [[ x.bankName ]] </td>
                    <td> [[ x.bankBranch ]] </td>
                    <td> [[ x.date ]] </td>
                    <td> [[ x.amount ]] </td>
                    <td> [[ x.status ]] </td>
                    </tr>
                </tbody>
            </table>
            <br><Br>
            <div id="balance"></div>
        </div>
    </div>



</div>
<!-- /.row -->


<script>
$('#selectedAll').click(function() {
    if($('#selectedAll').prop('checked') == true){
        $('.selectboxes:not(:checked)').trigger('click')
    } else {
        $('.selectboxes:checked').trigger('click')
    }
})
app.controller("payment", function($scope) {
    $scope.ids = [];
    $scope.amount = 0;
    $.get("/getpayments",function(data){

        $scope.paymentData  = data;
        $scope.$apply();
    });
    $.get("/getteams/unpaid", function(data) {
        if(data.length) {

            $scope.unpaid = data;
            $scope.$apply();
        } else {
            $('#form').css('display','none');
            $scope.message = "You have no unpaid teams left ! Cheers !";
        }

    });
    $scope.change = function(id) {
        if($('.selectboxes').length != $('.selectboxes:checked').length) {
            $('#selectedAll').prop('checked', false)
        } else {
            $('#selectedAll').prop('checked', true)
        }
        id=id[0][0];
        x = $scope.ids.find( function(el) {
            if(el == id)
                return 1;
        });
        if(!x) {
            $scope.ids.push(id);
        } else {
            index = $scope.ids.indexOf(id);
            $scope.ids.splice(index,1);
        }
        $scope.amount = $scope.ids.length * 100;
        $scope.allids = $scope.ids.join(",");
    }
});
</script>