{{#if messageerror}}
<div class="alert alert-danger">
    <strong>{{messageerror}}</strong>
</div>
{{/if}}
{{#if messagesuccess}}
<div class="alert alert-success">
    <strong>{{messagesuccess}}</strong>
</div>
{{/if}}

<div class="row" ng-controller="payment">
    <div class="col-lg-6">
        <h2>Payments Made</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Transaction id</th>
                        <th>Mode </th>
                        <th>Bank Name</th>
                        <th>Branch</th>
                        <th>Date</th>
                        <th>Amount paid</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id='tbody'>
                    <tr ng-repeat="x in paymentData">
                    <td> [[ x.transactionId ]] </td>
                    <td> [[ x.mode ]] </td>
                    <td> [[ x.bankName ]] </td>
                    <td> [[ x.bankBranch ]] </td>
                    <td> [[ x.date ]] </td>
                    <td> [[ x.amount ]] </td>
                    <td> [[ x.status ]] </td>
                    </tr>
                </tbody>
            </table>
            <br><Br>
            <div id="balance"></div>
        </div>
    </div>
    <div class="col-lg-6" style="border-left: solid 2px black">
        <h2>Add New Payment</h2>

        <form role="form" method='post' action='/payment' id="form">
			<div class="form-group">
                <label> Transaction Id</label>
                <input class="form-control" name="txn" placeholder="Enter transaction id" required>
            </div>

            <div class="form-group">
                <label> Date</label>
                <input class="form-control" type="date" name="date" placeholder="Enter date" required>
            </div>

            <div class="form-group">
                <label> Mode ( NEFT / RTGS / Cash Deposit / Others except cheque)</label>
                <input class="form-control" name="mode" placeholder="Enter mode of payment" required>
            </div>

            <div class="form-group">
                <label> Bank Name</label>
                <input class="form-control" name="bname" placeholder="Enter bank name" required>
            </div>

            <div class="form-group">
                <label> Bank Branch</label>
                <input class="form-control" name="branch" placeholder="Enter bank branch" required>
            </div>

            <div class="form-group">
                <label> Amount </label>
                <input class="form-control" type="number" name="amount" required value="[[amount]]" readonly="readonly">
            </div>


            <div class="form-group">
                <label> Unpaid teams </label> <br><br>
                <div  ng-repeat="x in unpaid">
                    <input type="checkbox" ng-click="change([[x._id]])" id="x._id"> <label for="x._id">[[x.name]]</label>
                </div>
            </div>

            <br><br>
            <button type="submit" class="btn btn-success">Submit Button</button>
            <button type="reset" class="btn btn-default">Reset Button</button>
            <div class="form-group">
                <input class="form-control" name="ids" required value="[[allids]]" style="opacity: 0; cursor: default">
            </div>

        </form>
        <h3> [[message]] </h3>

    </div>



</div>
<!-- /.row -->


<script>
app.controller("payment", function($scope) {
    $scope.ids = [];
    $scope.amount = 0;
    $.get("/getpayments",function(data){

        $scope.paymentData  = data;
        $scope.$apply();
    });
    $.get("/getteams/unpaid", function(data) {
        console.log(data);
        if(data.length) {

            $scope.unpaid = data;
            $scope.$apply();
        } else {
            $('#form').css('display','none');
            $scope.message = "You have no unpaid teams left ! Cheers !";
        }

    });
    $scope.change = function(id) {
        id=id[0][0];
        x = $scope.ids.find( function(el) {
            if(el == id)
                return 1;
        });
        if(!x) {
            $scope.ids.push(id);
        } else {
            index = $scope.ids.indexOf(id);
            $scope.ids.splice(index,1);
        }
        $scope.amount = $scope.ids.length * 100;
        $scope.allids = $scope.ids.join(",");
        console.log($scope.allids);
    }
});
</script>