{{#if message}}
<div class="alert alert-success">
	<strong>{{message}}</strong>
</div>
{{/if}}
<div class="col-lg-12" ng-controller="teams">
<h2>Your Teams</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>First Team Member Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Second Team Member Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Third Team Member Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Payment Status</th>
                <th>Round 1 Submission</th>
                <th>Round 2 Submission</th>
                <th></th>
            </tr>
        </thead>
        <tbody id='tbody'>
            <tr ng-repeat="x in teamData">
            <td> [[ x.name ]] </td>
            <td> [[ x.firstStudent.name ]] </td>
            <td> [[ x.firstStudent.email ]] </td>
            <td> [[ x.firstStudent.contact ]] </td>
            <td> [[ x.secondStudent.name ]] </td>
            <td> [[ x.secondStudent.email ]] </td>
            <td> [[ x.secondStudent.contact ]] </td>
            <td> [[ x.thirdStudent.name ]] </td>
            <td> [[ x.thirdStudent.email ]] </td>
            <td> [[ x.thirdStudent.contact ]] </td>
            <td> [[ x.isPaid ]] </td>
            <td> <a style="cursor: pointer;" ng-if="x.submitted == 1" href="/user/getsubmission/id=[[x._id]]">View</a> </td>
        <td><a ng-if="x.isPaid == 'Paid' && x.submitted == 1 && x.next == 1 && x.nextSub != 1" style="cursor: pointer;" ng-click="upload([[x._id]])">Upload</a><a ng-if="x.isPaid == 'Paid' && x.submitted == 1 && x.next == 1 && x.nextSub == 1" style="cursor: pointer;" ng-click="upload([[x._id]])">Update</a><a href="/user/getsubmission/r2/id=[[x._id]]" ng-if="x.isPaid == 'Paid' && x.submitted == 1 && x.next == 1 && x.nextSub == 1" style="cursor: pointer;"> / View</a></td>
            <td> <button ng-click="edit([[x._id]])">Edit</button> </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="submit-mod" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Round 2 Submission</h4>
      </div>
      <form id="data" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            <input type="hidden" name="teamId" id="teamId">
            <input type="file" name="sampleFile" id="fileUp" required />
            <div class="col s12 center-align">
                <p id="up-status"></p>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-default btn-success" type="submit" value="Upload" id="upload-btn">
            <button type="button" id="modalClose" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
          </div>
      </form>
    </div>

  </div>
</div>
</div>

<script>
// var flagUp, dots = 0
app.controller("teams", function($scope) {
    $.get("/getteams",function(data){
        for(i=0; i<data.length; i++) {
            if(data[i]["isPaid"] == 2)
                data[i]["isPaid"] = "Paid";
            else if(data[i]["isPaid"] == 1)
                data[i]["isPaid"] = "Payment in process";
            else
                data[i]["isPaid"] = "Not Paid";

        }
        $scope.teamData  = data;
        $scope.$apply();
    });

    $scope.edit = function(id) {
    	location.assign('/editteam/id='+id);
    }

    $scope.upload = function(id) {
        $('#teamId').val(id)
        $('#upload-btn').attr('data-id', id)
        $('#submit-mod').modal('show')
    }
});

$("form#data").submit(function(){
    $('#upload-btn').attr('disabled', true)
    dots = 0
    flagUp = setInterval(uploading, 300)
    uploading()
    var teamId = $('#upload-btn').data('id')
    var formData = new FormData(this);
    $.ajax({
        url: '/submission/id=' + teamId,
        type: 'POST',
        data: formData,
        async: false,
        success: function (data) {
            clearInterval(flagUp)
            $('#fileUp').val('')
            $('a[ng-click="upload(' + teamId + ')"]').after('<a href="/user/getsubmission/r2/id='+teamId+'"> / View</a>');

            $('#upload-btn').attr('disabled', false)
            $('#up-status').text(data)
        },
        error: function(data){
            clearInterval(flagUp)
            $('#fileUp').val('')
            $('#upload-btn').attr('disabled', false)
            $('#up-status').text(data)
        },
        cache: false,
        contentType: false,
        processData: false
    });

    return false;
});

function uploading() {
    if (dots % 4) {
        document.getElementById('up-status').innerText += '.'
    } else {
        document.getElementById('up-status').innerText = 'Uploading'
    }
    dots++
}

</script>