.card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    height: 100%;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-header {
	text-align: center;
}

.card-header h3 {
	font-size: 3em;
}

.card-block .title {
	font-size: 1.2em;
	width: 80%;
	margin: auto;
}

.card-heading-seperator {
	border: 1px solid grey;
	border-color: rgba(203, 203, 203, 0.5);
    margin-top: 5px;
	width: 60%;
}

.editable-input, .editable-controls, .editable-wrap {
    width: 100% !important;
    background: transparent;
}

.editable-wrap {
    margin-top: 10px;
}

.buttons {
    margin-top: 15px;
}

.center{
    text-align: center;
}

.emptyMem{
    min-height: 100%;
}