<div class="container-fluid footer" id="footer">
    <div class="row">
        <div class="col-md-4">
            <h5> Contact </h5>
            <p> Branding and Relations Cell,<br/> Office of Alumni Affairs & International Relations,<br/> Indian Institute of Technology, Kharagpur <br/> Pin-721302, West Bengal, India <br/> Phone: 9932281134 (Simran Garg), <br/> 8017487218 (Debanjan Nayak) <br/> Email: barc@iitkgp.ac.in </p>
        </div>
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.9332419499943!2d87.30956309721707!3d22.3193820950838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3a63547376e5c22c!2sMain+Building+IIT+KGP!5e0!3m2!1sen!2sin!4v1471677047994" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>            
        </div>
        <div class="col-md-4">
            <h5>Connect with us on</h5>
            <div class="row">
                <div class="col-xs-1">
                    <a href="https://www.facebook.com/barciitkgp/" target="_blank">
                        <img src="./assets/images/fb.png" width="30">
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="https://twitter.com/IITKgp" target="_blank">
                        <img src="./assets/images/twitter.png" width="30">
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="https://www.youtube.com/channel/UCNrhzapF2ZwRdUvoAUO8ytg" target="_blank">
                        <img src="./assets/images/youtube.png" width="30">
                    </a>
                </div>
                <div class="col-xs-1">
                    <a href="https://www.linkedin.com/company-beta/13285823/" target="_blank">
                        <img src="./assets/images/linked.svg" width="30"> 
                    </a>
                </div>
                <div class="col-xs-8"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-copyright">
        &copy; 2017 Branding and Relations Cell, IIT Kharagpur
    </div>
</div>