<div class="container" id="abC">
	<div class="row">
		<!-- <div class="col-md-4 col-sm-12 card">
			<a href="">Eligibility</a><br>
			<a href="">Registration</a><br>
			<a href="">Eligibility</a><br>
			<a href="">Eligibility</a><br>
			<a href="">Eligibility</a><br>
			<a href="">Eligibility</a><br>
		</div> -->
		<div class="col-sm-12">
			<div class="col-sm-12 card">
				<h4>Who can register for Young Innovators’ Program 2017?</h4>
				<p>The students enrolled in 8th, 9th and 10th class are eligible to take part in Young Innovators’ Program 2017 through their schools.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>Do I have to come to IIT Kharagpur for registration?</h4>
				<p>For 1st and 2nd round you need not come to IIT Kharagpur, but for the subsequent rounds (if your team is selected) you along with your team have to come to IIT Kharagpur and present your innovative idea to the professors and guests of IIT Kharagpur.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>What will be the judging criteria for the projects?</h4>
				<p>The projects will judged on the basis of the innovative idea you have provided, its feasibility, its usefulness in the present scenario, its uniqueness and your presentability.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>I have written the submission for the first round in about 3 pages. Is that enough?</h4>
				<p>For the structure of the submission visit- (link of sample project for first round). The submission for the first round should be one pager only.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>Do we have to pay any fee to participate in this competition?</h4>
				<p>Yes you have to pay an enrolment fee of ₹ 100 /- for the first round per team.  If your team is selected for the final round, you need to pay a registration fee of ₹ 9870 /- per team for the accommodation, food and other expenses incurred during your visit at IIT Kharagpur.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>I do not have a team but I have a project idea and I want to participate. What should I do?</h4>
				<p>As the minimum number of students per team is 2 you should talk to the coordinating teacher of your school for IIT Kharagpur Young Innovators’ Program 2017 and explain your situation. In this case he/she will be guiding you for the proceedings.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>My school has not received an invite but I want to participate. What should I do?</h4>
				<p>Please visit our website and fill the details of your school under the Find my school button. We will send a mail to your school regarding this and then consult your principal regarding your participation.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>What should be the format of submission for the 1st round. What all things should we include?</h4>
				<p>For the format of submission of 1st round go to- (link for sample project).</p>
			</div>
			<div class="col-sm-12 card">
				<h4>What will happen when we reach IIT Kharagpur?</h4>
				<p>The 3rd and 4th round of event will be conducted in IIT Kharagpur. In IIT Kharagpur you need to present your solutions in a detailed way to the professors and the judges. Along with this, the two day event will give you a feel of IIT Kharagpur’s student life and culture.</p>
			</div>
			<div class="col-sm-12 card">
				<h4>We are a group of more than 3 students and we want to take part in the competition together. What should we do?</h4>
				<p>As the maximum allowed team size is 3, you need to form two groups. </p>
			</div>
			<div class="col-sm-12 card">
				<h4>We are a group of 3 students but one of my friend is from different school. Can we take part in the competition?</h4>
				<p>To take part in the competition you all must belong to one school. In your case it will not be feasible for the student from different school to take part in this competition.</p>
			</div>
		</div>
	</div>
</div>