<!DOCTYPE html>
<html>
<head>
	<title> Young Innovators' Program, IIT Kharagpur </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/external/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
	<script type="text/javascript" src="/external/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/external/bootstrap/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	{{{body}}}
	<script type="text/javascript" src="/assets/js/home.js"></script>
	<script type="text/javascript" src="/assets/js/navbar.js"></script>
</body>
</html>